 {{>header}}
 {{>navbar}}


<div class="container-fluid">
    <div class="row mt-5" >
        <h1 class="text-center">Flipkart</h1>
        <hr>
        <h2 class="text-center">The best online shopping platform</h2>
        <img src="https://preply.com/wp-content/uploads/2018/04/shopping_bags.jpg" alt="jcd"  width="600px" height="400px">
    </div>
</div>

{{>footer}}
