 {{>header}}
 {{>navbar}}

 
 <main>
        <div class="container-fluid">
            <div class="slider">
                <img src="https://source.unsplash.com/1200x300/?shopping,ecommerce" alt="">
            </div>
            <hr>
             <div class="card">
                <h2 class="my-2">Cricket Redefined</h2>
                <div class="cards">
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?cricket, bats" alt="">

                        <div class="lines">
                            <p class="text-center my-1"> bats</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?cricket,stumps" alt="">

                        <div class="lines">
                            <p class="text-center my-1">stumps</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?cricket,pads" alt="">

                        <div class="lines">
                            <p class="text-center my-1"> pads</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?cricket,helmet" alt="">

                        <div class="lines">
                            <p class="text-center my-1"> helmet</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?cricket,ball" alt="">

                        <div class="lines">
                            <p class="text-center my-1"> ball</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?cricket,dress" alt="">

                        <div class="lines">
                            <p class="text-center my-1"> dress</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?cricket,bats" alt="">

                        <div class="lines">
                            <p class="text-center my-1">bats </p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?cricket,player" alt="">

                        <div class="lines">
                            <p class="text-center my-1"> player</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?cricket,player" alt="">

                        <div class="lines">
                            <p class="text-center my-1"> player</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?cricket,player" alt="">

                        <div class="lines">
                            <p class="text-center my-1"> player</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>

                </div>
            </div>
            <hr>
            <div class="card">
                <h2 class="my-2">Food items</h2>
                <div class="cards">
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?food,fruits" alt="">

                        <div class="lines">
                            <p class="text-center my-1">Fruits</p>
                            <p class="text-center my-1">Min 10% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?food,vegetable" alt="">

                        <div class="lines">
                            <p class="text-center my-1">vegetable</p>
                            <p class="text-center my-1">Min 30% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?food,pizza" alt="">

                        <div class="lines">
                            <p class="text-center my-1">pizza</p>
                            <p class="text-center my-1">Min 50% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?food,burger" alt="">

                        <div class="lines">
                            <p class="text-center my-1">burger</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?food,sandwich" alt="">

                        <div class="lines">
                            <p class="text-center my-1">sandwich</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?food,sandwich" alt="">

                        <div class="lines">
                            <p class="text-center my-1">sandwich</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?food,sandwich" alt="">

                        <div class="lines">
                            <p class="text-center my-1">sandwich</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?food,sandwich" alt="">

                        <div class="lines">
                            <p class="text-center my-1">sandwich</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?food,sandwich" alt="">

                        <div class="lines">
                            <p class="text-center my-1">sandwich</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?food,sandwich" alt="">

                        <div class="lines">
                            <p class="text-center my-1">sandwich</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card">
                <h2 class="my-2">Fashion zone</h2>
                <div class="cards">
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?clothes,shirts" alt="">

                        <div class="lines">
                            <p class="text-center my-1">shirts</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?clothes,pants" alt="">

                        <div class="lines">
                            <p class="text-center my-1">pants</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?clothes,gown" alt="">

                        <div class="lines">
                            <p class="text-center my-1">gown</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?clothes,t-shirts" alt="">

                        <div class="lines">
                            <p class="text-center my-1">t-shirts</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?clothes,jeans" alt="">

                        <div class="lines">
                            <p class="text-center my-1">jeans</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?clothes,jeans" alt="">

                        <div class="lines">
                            <p class="text-center my-1">jeans</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?clothes,jeans" alt="">

                        <div class="lines">
                            <p class="text-center my-1">jeans</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?clothes,jeans" alt="">

                        <div class="lines">
                            <p class="text-center my-1">jeans</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?clothes,jeans" alt="">

                        <div class="lines">
                            <p class="text-center my-1">jeans</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?clothes,jeans" alt="">

                        <div class="lines">
                            <p class="text-center my-1">jeans</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card">
                <h2 class="my-2">Electronics</h2>
                <div class="cards">
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?electronics,mobile" alt="">

                        <div class="lines">
                            <p class="text-center my-1">mobile</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?electronics,laptops" alt="">

                        <div class="lines">
                            <p class="text-center my-1">laptops</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?electronics,headphones" alt="">

                        <div class="lines">
                            <p class="text-center my-1">headphones</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?electronics,camera" alt="">

                        <div class="lines">
                            <p class="text-center my-1">camera</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?electronics,speaker" alt="">

                        <div class="lines">
                            <p class="text-center my-1">speaker</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?electronics,trimmer" alt="">

                        <div class="lines">
                            <p class="text-center my-1">trimmer</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?electronics,watch" alt="">

                        <div class="lines">
                            <p class="text-center my-1">watch</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?electronics,kettle" alt="">

                        <div class="lines">
                            <p class="text-center my-1">kettle</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?electronics,kettle" alt="">

                        <div class="lines">
                            <p class="text-center my-1">kettle</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="https://source.unsplash.com/120x120/?electronics,kettle" alt="">

                        <div class="lines">
                            <p class="text-center my-1">kettle</p>
                            <p class="text-center my-1">Min 20% off</p>
                            <p class="text-center my-1">Grab now!</p>
                        </div>
                    </div>


                </div>
            </div>
            <hr>
        </div>
    </main>


     {{>footer}}